include ../../components/__header/__header
include ../../components/__footer/__footer
include ../../components/__room-search/__room-search
include ../../components/__image-slider/__image-slider

link(rel="stylesheet" href="landing-page.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
.pages
  .pages__header
    +createHeaderSection(false)
  .pages__main
    .landing-page
      .landing-page__room-search
        +createRoomSearchCard("Найдём номера под ваши пожелания")
      .landing-page__caption
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
  .pages__footer
    .footer 
      +createFooterContent(false)

script(type="module" src="../../components/__datepicker/__datepicker.js")
script(type="module" src="../../components/__booking-form/__booking-form.js")
script(type="module" src="../../components/__dropdown/__dropdown.js")
script(type="module" src="landing-page.js")