include ../../components/__header/__header
include ../../components/__footer/__footer
include ../../components/__login-form/__login-form

link(rel="stylesheet" href="sign-in.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

.pages 
  .pages__header
    +createHeaderSection(false)
  .pages__main
    .sign-in
      .sign-in__form-section
        +createLoginFormCard
  .pages__footer
    .footer 
      +createFooterContent(false)