@import '../../components/__pages/_pages';
@import '../../assets/libs/_vars';
@import '../../assets/libs/_fonts';

@import '../../components/__header/_header';
@import '../../components/__footer/_footer';
@import '../../components/__datepicker/_datepicker';
@import '../../components/__dropdown/_dropdown';
@import '../../components/__buttons/_buttons';
@import '../../components/__rate-button/_rate-button';
@import '../../components/__range-slider/_range-slider';
@import '../../components/__checkbox/_checkbox';
@import '../../components/__rich-checkbox/_rich-checkbox';
@import '../../components/__pagination/_pagination';
@import '../../components/__room-preview/_room-preview';
@import '../../components/__image-slider/_image-slider';

.search-room {
  overflow: hidden;

  &__container {
    max-width: 81.5%;
    margin: 0 auto;
    padding: 1.85rem 0.4rem 4.3rem;
    display: grid;
    grid-template-columns: 16.625rem 1fr;
    -moz-column-gap: 5.2%;
    column-gap: 5.2%;
    border-bottom: 1px solid rgba(31,32,65,.25098);
  }

  &__title {
    @extend .bold;
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }

  &__room-preview-block {
    margin-top: 1.33rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    -moz-column-gap: .75rem;
    column-gap: 0.75rem;
    row-gap: 1.2rem;
  }

  // &__room-preview {
  //   // max-width: 18rem;
  // }

  &__pagination {
    padding-top: 1.32rem;
    padding-left: 7.2rem;
    grid-column: span 3;
    justify-self: center;
  }
}