include ../../components/__header/__header
include ../../components/__footer/__footer
include ../../components/__registration-form/__registration-form

link(rel="stylesheet" href="registration.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

.pages 
  .pages__header
    +createHeaderSection(false)
  .pages__main
    .registration
      .registration__form-section
        +createRegistrationFormCard
  .pages__footer
    .footer 
      +createFooterContent(false)

script(src="../../assets/libs/masked-field.js")