@import '../../components/__pages/_pages';
@import '../../assets/libs/_vars';
@import '../../assets/libs/_fonts';

@import '../../components/__header/_header';
@import '../../components/__footer/_footer';
@import '../../components/__buttons/_buttons';

@import '../../components/__registration-form/_registration-form';
@import '../../components/__radio-buttons/_radio-buttons';
@import '../../components/__toggle/_toggle';

.registration {

  background-image: url('../../assets/images/registration/image-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding: 1.15rem 0 0 0.375rem;

  &__form-section {
    margin: 0 auto;
    max-width: 24.15rem;
  }
}