* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: 'Montserrat', Arial, sans-serif;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

.bold, .header_bold, .input__title, .subscription-field__title, .footer__title, .buttons__title, .button__text {
  font-family: "Montserrat Bold", sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("ttf"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../../assets/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../../assets/fonts/Montserrat-Bold.ttf") format("ttf"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff"), url("../../assets/fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  position: absolute;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.header__margin-bottom {
  margin-bottom: 2.55rem;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  padding: 1rem 8.7rem 0.8rem 8.75rem;
}

.header__burger {
  font-size: 3rem;
  position: absolute;
  right: 2%;
  top: 0.625rem;
  background: transparent;
  border: none;
  color: rgba(31, 32, 65, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__dropdown {
  display: none;
}

.header__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.2rem;
  -webkit-column-gap: 1.3rem;
          column-gap: 1.3rem;
}

.header__sub-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  list-style: none;
  text-decoration: none;
  font-size: .875rem;
  color: rgba(31, 32, 65, 0.5);
  line-height: 1.0625rem;
}

.header__icon {
  cursor: pointer;
}

.header__login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header__login-menu_authorized {
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  padding-left: 1.25rem;
}

.header__login-link {
  text-decoration: none;
}

.header__user-name {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  line-height: 2.0625rem;
  font-size: .875rem;
}

.button__registration-button {
  height: 34px;
  width: 196px;
}

input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.75);
  opacity: 1;
  /* Firefox */
}

input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.75);
  opacity: 1;
  /* Firefox */
}

input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.75);
  opacity: 1;
  /* Firefox */
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.75);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(31, 32, 65, 0.75);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(31, 32, 65, 0.75);
}

.input {
  max-width: inherit;
  width: 100%;
}

.input__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input__title {
  font-size: 0.75rem;
  line-height: 0.7375rem;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.input__subtitle {
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  font-size: 0.75rem;
  line-height: 0.7375rem;
}

.input__box {
  margin: 0 auto;
  font-size: 0.875rem;
  width: 100%;
  line-height: 2.625rem;
  padding: 0 2.375rem 0 0.875rem;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 0.25rem;
  color: rgba(31, 32, 65, 0.75);
}

.subscription-field {
  max-width: inherit;
  width: 100%;
}

.subscription-field__title {
  font-size: .75rem;
  line-height: 0.7375rem;
  text-transform: uppercase;
}

.subscription-field__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 2.75rem;
  margin: 0.45rem auto 0.5rem;
}

.subscription-field__input {
  font-size: 0.875rem;
  width: 100%;
  line-height: 2.625rem;
  padding: 0 2.375rem 0 0.875rem;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 0.25rem;
}

.subscription-field__input-button {
  position: absolute;
  top: 25%;
  right: 0.75rem;
  border: none;
  cursor: pointer;
  background: -moz- -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8BA4F9));
  background: -moz- linear-gradient(180deg, #bc9cff 0%, #8BA4F9 100%);
  background: -webkit- -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8BA4F9));
  background: -webkit- linear-gradient(180deg, #bc9cff 0%, #8BA4F9 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8BA4F9));
  background: linear-gradient(180deg, #bc9cff 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subscription-field__input-button:before {
  content: 'arrow_forward';
}

.footer {
  background: #fff;
  margin-bottom: 2.55rem;
}

.footer_small {
  background: #fff;
  padding-bottom: 8.75rem;
  margin: 0 auto;
  max-width: 48rem;
}

.footer__content {
  border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.25);
  padding-left: 8.8rem;
  padding-top: 6.28rem;
  padding-right: 7.5rem;
  padding-bottom: 5.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.153fr 1fr;
      grid-template-columns: 1fr 2.153fr 1fr;
      grid-template-areas: "logo navigation subscription";
}

.footer__content_small {
  border-bottom: none;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
      grid-template-areas: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 0;
  padding-top: 7.65rem;
}

.footer__description {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  padding-right: 1rem;
}

.footer__description-text {
  padding-top: 1.1rem;
  font-size: .875rem;
  line-height: 1.5rem;
  color: rgba(31, 32, 65, 0.75);
}

.footer__description-text_small {
  display: none;
}

.footer__description_small {
  text-align: center;
}

.footer__navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navigation;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.2rem;
  margin-left: 1rem;
}

.footer__navigation-column {
  margin-right: 3rem;
}

.footer__navigation-item {
  list-style: none;
  padding: 0.585rem 0;
}

.footer__navigation-link {
  text-decoration: none;
  font-size: .875rem;
  color: rgba(31, 32, 65, 0.5);
}

.footer__navigation_small {
  display: none;
}

.footer__subscription {
  padding-top: 0.25rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: subscription;
}

.footer__subscription-text {
  font-size: .875rem;
  padding-top: 1.2rem;
  color: rgba(31, 32, 65, 0.75);
  line-height: 1.5rem;
  padding-bottom: 0.9rem;
}

.footer__subscription_small {
  display: none;
}

.footer__input {
  max-width: 20rem;
}

.footer__title {
  text-transform: uppercase;
  font-size: .75rem;
  line-height: .9375rem;
  padding-bottom: 0.58rem;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 8.8rem 1rem 8.7rem;
}

.footer__copyright-text, .footer__copyright-text_small {
  font-size: .875rem;
  line-height: 1.0625rem;
  color: rgba(31, 32, 65, 0.75);
}

.footer__copyright-text_small {
  padding-top: 0.3rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer__copyright-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copyright-list_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  padding-top: 0.55rem;
  padding-right: 1.4rem;
}

.footer__copyright-item {
  list-style: none;
  padding-left: 1.29rem;
  padding-right: 0.1rem;
}

.footer__copyright-item, .footer__copyright-link {
  text-decoration: none;
  line-height: 1.4375rem;
}

.footer__copyright_small {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 7.48rem;
}

.buttons {
  margin-bottom: 0.8rem;
}

.buttons__title {
  font-size: .75rem;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
}

.buttons__first-box, .buttons__second-box, .buttons__third-box {
  display: -ms-grid;
  display: grid;
  margin-bottom: 1.9rem;
}

.buttons__first-box, .buttons__second-box {
  -ms-grid-columns: (6.1875rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 6.1875rem);
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.buttons__third-box {
  -ms-grid-columns: (3.8125rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 3.8125rem);
  -webkit-column-gap: 1.3rem;
          column-gap: 1.3rem;
}

.button {
  border: none;
  cursor: pointer;
  height: 2.75rem;
  width: 6.1875rem;
  border-radius: 1.375rem;
}

.button_purple {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8BA4F9));
  background: linear-gradient(180deg, #bc9cff 0%, #8BA4F9 100%);
}

.button_white {
  background: #fff;
  border: 0.125rem solid #bc9cff;
}

.button_transparent {
  padding: 0;
  height: auto;
  width: auto;
  background: transparent;
}

.button_blocked {
  opacity: 0.5;
  cursor: default;
}

.button_log-in-button {
  height: 34px;
  width: 87px;
  background: transparent;
  border: 0.125rem solid #bc9cff;
}

.button_registration-button {
  height: 34px;
  width: 196px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8BA4F9));
  background: linear-gradient(180deg, #bc9cff 0%, #8BA4F9 100%);
}

.button_forward {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 20rem;
  width: 100%;
}

.button_forward .button__text {
  margin-top: 0.9rem;
}

.button_forward .material-symbols-outlined {
  position: relative;
  font-size: 1.5rem;
  left: 8.625rem;
  color: #fff;
  bottom: 1.2rem;
}

.button__text {
  font-size: .75rem;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.button__text_white {
  color: #fff;
}

.button__text_purple {
  color: #bc9cff;
}

.headers-and-footers {
  background: #e5e5e5;
  overflow: hidden;
}

.headers-and-footers__logo {
  margin: 1.875rem auto 3.6rem;
  max-width: 99%;
  padding-left: 1.5rem;
  padding-bottom: 0.3rem;
}
/*# sourceMappingURL=headers-and-footers.css.map */