@import '../../assets/libs/_vars';
@import '../../assets/libs/_fonts';
@import '../../components/__header/_header';
@import '../../components/__footer/_footer';
@import '../../components/__buttons/_buttons';

.headers-and-footers {
  background: #e5e5e5;
  overflow: hidden;

  &__logo {
    margin: 1.875rem auto 3.6rem;
    max-width: 99%;
    padding-left: 1.5rem;
    padding-bottom: 0.3rem;
  }
}