include ../../components/__header/__header
include ../../components/__footer/__footer

link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" href="headers-and-footers.css")
.headers-and-footers
  .headers-and-footers__logo
    a.logo(href="#")
      img.logo__image(src="../../assets/images/logo-colorless.svg" alt="logo-image")
  +createHeader
  +createFooter