* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: 'Montserrat', Arial, sans-serif;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(31, 32, 65, 0.25);
  opacity: 1;
  /* Firefox */
  font-family: "Montserrat", Arial, sans-serif;
}

.bold, .color__title, .tag-example__subtitle, .tag-example_h1 .tag-example__subtitle {
  font-family: "Montserrat Bold", sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("ttf"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../../assets/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../../assets/fonts/Montserrat-Bold.ttf") format("ttf"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff"), url("../../assets/fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  position: absolute;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.nav {
  padding: 1.9rem 0.7rem;
  margin: 0 auto 2.3rem;
  max-width: 98%;
}

.main {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  max-width: 97%;
  -ms-grid-columns: 16.875rem 28rem;
      grid-template-columns: 16.875rem 28rem;
  grid-column-gap: 29.2%;
}

.main__colors {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1.25rem;
  margin-left: 7.6rem;
}

.main__types {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  grid-row-gap: 3rem;
}

.color {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "box title" "box subtitle";
  grid-column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.color__box {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: box;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.375rem;
}

.color__title, .color__subtitle {
  font-size: 1.1875rem;
  line-height: 1.1875rem;
}

.color__title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.color__subtitle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: subtitle;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.color_darkShade100 .color__box {
  background: #1f2041;
}

.color_darkShade75 .color__box {
  background: rgba(31, 32, 65, 0.75);
}

.color_darkShade50 .color__box {
  background: rgba(31, 32, 65, 0.5);
}

.color_darkShade25 .color__box {
  background: rgba(31, 32, 65, 0.25);
}

.color_darkShade5 .color__box {
  background: rgba(31, 32, 65, 0.05);
}

.color_purple .color__box {
  background: #bc9cff;
}

.color_green .color__box {
  background: #6fcf97;
}

.tag-example {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5rem 1fr;
      grid-template-columns: 2.5rem 1fr;
  -webkit-column-gap: 1.9rem;
          column-gap: 1.9rem;
}

.tag-example__title {
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
}

.tag-example_h1 {
  margin-bottom: 0.3125rem;
}

.tag-example_h1 .tag-example__subtitle,
.tag-example_h1 .tag-example__title {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.tag-example_h2 {
  margin-bottom: 0.0625rem;
}

.tag-example_h2 .tag-example__subtitle,
.tag-example_h2 .tag-example__title {
  font-size: 1.188rem;
  line-height: 1.5rem;
}

.tag-example_h3 {
  font-size: .75rem;
  text-transform: uppercase;
  line-height: .9375rem;
}

.tag-example_h3 .tag-example__title {
  color: rgba(31, 32, 65, 0.25);
}

.tag-example_body {
  max-width: 23.75rem;
  color: rgba(31, 32, 65, 0.5);
}

.tag-example_body .tag-example__title,
.tag-example_body .tag-example__subtitle {
  font-size: 0.875rem;
}

.tag-example_body .tag-example__title {
  text-transform: capitalize;
}

.tag-example_body .tag-example__subtitle {
  font-family: 'Montserrat';
  line-height: 1.5rem;
}
/*# sourceMappingURL=colors-and-type.css.map */