@import '../../assets/libs/_vars';
@import '../../assets/libs/_fonts';
@import '../../components/__dropdown/_dropdown';
@import '../../components/__buttons/_buttons';

@import '../../components/__inputs/_inputs';
@import '../../components/__radio-buttons/_radio-buttons';
@import '../../components/__toggle/_toggle';
@import '../../components/__rate-button/_rate-button';
@import '../../components/__datepicker/_datepicker';
@import '../../components/__registration-form/_registration-form';
@import '../../components/__room-search/_room-search';
@import '../../components/__booking-form/_booking-form';
@import '../../components/__login-form/_login-form';
@import '../../components/__image-slider/_image-slider';
@import '../../components/__room-preview/_room-preview';

body {
  background: #e5e5e5;
}

.cards {

  display: grid;
  grid-template-columns: 43.3% 4.9% 43.45% 4.3% 36.5%;
  max-width: 80%;
  padding: 1rem 8.7rem;

  &__room-search {
    margin-bottom: 2.45rem;
  }

  &__booking {
    margin-bottom: 2.5rem;
  }

  &__calendar {
    margin-bottom: 2.6rem;
  }

  &__firstColumn {
    max-width: 23.75rem;
  }

  &__secondColumn {
    max-width: 23.75rem;
  }

  &__thirdColumn {
    max-width: 23.75rem;
  }

  &__room-preview {
    max-width: 16.85rem;
    margin-bottom: 2.4rem;
    padding: 0;
  }

}

.nav {
  margin: 1.8rem auto 3.5rem;
  max-width: 99%;
  padding: 0 1.3rem;
}