&:first-child {
    grid-template-columns: 27.59% 10.95% 22.45% 11% 27.75%;
    // grid-template-columns: repeat(auto-fit, 280px);
    margin-bottom: 5.7rem;
}

&:nth-child(2) {
    grid-template-columns: 22.7% 15.8% 27.59% 6% 27.59%;
    // grid-template-columns: repeat(auto-fit, 280px);
    margin-bottom: 8.5rem;
}

&:nth-child(3) {
    grid-template-columns: 22.02% 16.25% 22.83% 11% 25.17%;
    margin-bottom: 0.4rem;
    margin-top: 8.9rem;
}

&:nth-child(4) {
    grid-template-columns: 25.09% 13.3% 61.29%;
    padding-bottom: 8.25rem;
}